.PaginaInformacion-a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: black;
  font-weight: 400;
}
.PaginaInformacion-a:hover {
  color: var(--eoftoursblue);
}
.PaginaInformacion-nav,
.PaginaInformacion-container {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.PaginaInformacion-nav {
  width: 100%;
  height: auto;
  padding: 5px;
  border: 1px solid black;
}
.PaginaInformacion-navContainer {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.PaginaInformacion-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  background-color: white;
  transform: translate(-50%, -40%);
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.PaginaInformacion-page {
  overflow-y: scroll;
  scroll-behavior: smooth;
  line-height: normal;
  height: 100%;
}
.PaginaInformacion-title {
  text-align: center;
  color: white;
  padding: 5px 0;
  position: relative;
  margin: 0;
  background: black;
  font-weight: 400;
}
