.PaginaInformacion-title {
  text-align: start;
  color: black;
  padding: 5px 0;
  position: relative;
  margin: 0;
  padding-left: 10px;
  background: lightgray;
  font-weight: 500;
}

.PaginaInformacion-subTitle {
  background-color: white;
}
