@import "~react-image-gallery/styles/css/image-gallery.css";

.PaginaPrincipal-imageText {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 2.5em;
  color: black;
  text-align: center;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -110%);
  -ms-transform: translate(-50%, -110%);
  max-width: 50vw;
  padding: 0;
}
.PaginaPrincipal-conectateButtonImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, +50%);
  -ms-transform: translate(-50%, +50%);
}

@media (max-width: 78.5em) {
  .PaginaPrincipal-imageText {
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
    -ms-transform: translate(-50%, -250%);
  }
  .PaginaPrincipal-conectateButtonImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -180%);
    -ms-transform: translate(-50%, -180%);
  }
}

@media (max-width: 60em) {
  .PaginaPrincipal-imageText {
    font-size: 1.25em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
  }
  .PaginaPrincipal-conectateButtonImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -400%);
    -ms-transform: translate(-50%, -400%);
  }
}

@media (max-width: 43.75em) {
  .PaginaPrincipal-imageText {
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -750%);
    -ms-transform: translate(-50%, -750%);
  }
  .PaginaPrincipal-conectateButtonImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -630%);
    -ms-transform: translate(-50%, -630%);
  }
}

@media (max-width: 32.5em) {
  .PaginaPrincipal-imageText {
    font-size: 0.75em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -1100%);
    -ms-transform: translate(-50%, -1100%);
  }
  .PaginaPrincipal-conectateButtonImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -880%);
    -ms-transform: translate(-50%, -880%);
  }
}
@media (max-width: 23.5em) {
  .PaginaPrincipal-imageText {
    font-size: 0.6em;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -220%);
    -ms-transform: translate(-50%, -220%);
  }
  .PaginaPrincipal-conectateButtonImage {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -80%);
    -ms-transform: translate(-50%, -80%);
  }
}
.PaginaPrincipal-conectateButton {
  display: flex;
  justify-content: center;
}

.PaginaPrincipal-conectateButtonAfterEOF {
  position: relative;
  left: 43vw;
  margin: 2% 0;
}

.PaginaPrincipal-dottedDivider {
  border: none;
  border-top: 3px dotted #cbb058;
  color: white;
  background-color: white;
  height: 3px;
  width: 100%;
}

.PaginaPrincipal-header,
.PaginaPrincipal-subheader,
.PaginaPrincipal-subheader,
.PaginaPrincipal-expresionesDeFeContainer,
.PaginaPrincipal-containerColumn,
.PaginaPrincipal-porQueExpresionesDeFeContainer {
  display: flex;
}

.PaginaPrincipal-containerRow {
  display: flex;
  flex-direction: column;
}

.PaginaPrincipal-header,
.PaginaPrincipal-porQueExpresionesDeFeContainer {
  justify-content: center;
}

.PaginaPrincipal-subheader,
.PaginaPrincipal-subsubheader {
  justify-content: start;
}

.PaginaPrincipal-subheader {
  padding-left: 10px;
}

.PaginaPrincipal-subsubheader {
  padding-left: 20vw;
  color: darkslategray;
}

.PaginaPrincipal-expresionesDeFeContainer {
  width: 80%;
  margin: 0 10%;
}

.PaginaPrincipal-containerColumn,
.PaginaPrincipal-porQueExpresionesDeFeContainer {
  flex-direction: column;
}

.PaginaPrincipal-expresionesDeFeHeader {
  color: #365ee4;
}
.PaginaPrincipal-blue {
  color: #365ee4;
}
.PaginaPrincipal-iconHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #cbb058;
}
.PaginaPrincipal-faMargin {
  margin: 2%;
}

.PaginaPrincipal-mediumImage {
  width: 30vw;
}
.PaginaPrincipal-lugaresParaDescansarContainer {
  display: flex;
  flex-direction: column;
}

.PaginaPrincipal-lugaresParaDescansarRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.PaginaPrincipal-lugaresParaDescansarText {
  width: 30vw;
  display: flex;
  text-align: center;
}
