.QuienesSomos-container {
  display: flex;
  flex-direction: column;
  padding: 0px 50px 0px 50px;
}

.QuienesSomos-bodyContainer {
  display: flex;
  flex-direction: column;
  padding: 0px 150px;
}

.QuienesSomos-title {
  color: #cbb058;
  font-weight: bold;
  font-size: 36px;
}

.QuienesSomos-imgContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.QuienesSomos-img {
  width: auto;
  height: 80vh;
  margin: 0 3vw;
  position: relative;
}

/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"); */

.QuienesSomos-imgTitle {
  display: block;
  color: white;
  font-family: "Lucida Handwriting", cursive;
  font-weight: 900;
  font-size: 65px;
  position: absolute;
  top: 55vh;
  left: 43vw;
}

.QuienesSomos-imgSubContainer {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.QuienesSomos-imgSubTitle {
  display: block;
  color: white;
  font-family: "Lucida Handwriting", cursive;
  font-weight: 900;
  border-radius: 10px;
  position: absolute;
  font-size: 45px;
  background-color: green;
  right: 540px;
  top: 560px;
  padding: 0 20px;
  white-space: pre;
}

.QuienesSomos-imgConectate {
  display: block;
  position: absolute;
  left: 70vw;
  bottom: 12vh;
}

.QuienesSomos-body {
  font-weight: 500;
  font-size: 18px;
}
