.Footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #365ee4;
  /* position: relative;
  left: 0;
  bottom: 0;
  right: 0; */
}

.Footer-column {
  display: flex;
  flex-direction: column;
}

.Footer-subcolumn {
  font-size: 10px;
}
/* make diff colors or no? */
.Footer-peregrinaciones,
.Footer-informacion,
.Footer-aCercaDe {
  color: #e4db36;
  text-decoration: none;
}
